/*公共样式*/
h6{
	font-size: 30px;
	color:#4d7343;
	text-align:center;
	font-weight: 900;
}
.common_span{
	font-size: 14px;
	color:#73ab65;
	font-weight:900;
	display:block;
	text-align:center;
}
i{
	/* width: 407px; height: 1px; */
	background:#c9c9c9;
	display:block;
	margin:18px auto;
}
.common_p{
	font-size: 18px;
	color:#888;
	text-align: center;
}
/*每一个样式*/
body{
    max-width:1366px;
    margin: 0 auto;
}
/*头部内容*/
.header{
    width: 100%; height: 140px;
   
}
.header .header1a{
    width:1182px; height:100px;
    margin: 0 auto;
}
.header .header1a .header1a_a{
    width:229px; height:100px;
    float: left;
}
.header .header1a .header1a_a a h1{
    float: left;
    font-size: 24px;
    color: #df1824;
    line-height: 100px;
}
.header .header1a .header1a_a a div{
    float:right;
}
.header .header1a .header1a_a a div h2{
    font-size: 23px;
    color:#262626;
    margin-top: 31px;
}
.header .header1a .header1a_a a div span{
    font-size: 8px;
    margin-bottom:6px;
    color:#999999;
    
}
.header .header1a .header1a_b{
    width:747px; height:100px;
    float:right;
}
.header .header1a .header1a_b input{
   width:298px; height: 38px;
   float: left;
   margin-top: 30px;
   border: 1px solid #dfdfdf;
   border-radius:3px;
}
.header .header1a .header1a_b ul{
    float:right;
    line-height: 100px;
 }
 .header .header1a .header1a_b ul .header1a_ba{
    float: left;
    margin-right: 52px;
 }
 .header .header1a .header1a_b ul .header1a_ba a{
    font-size:13px;
    color: #3373cc;
 }
 .header .header1a .header1a_b ul .header1a_bb{
    float: left;
    margin-right: 47px;
 }
 .header .header1a .header1a_b ul .header1a_bb a{
    font-size: 13px;
    color: #535353;
 }
 .header .header1a .header1a_b ul .header1a_bc{
    float: left;
 }
 .header .header1a .header1a_b ul .header1a_bc a{
    font-size: 13px;
    color: #262626;
 }
 .header  .header1a .header1a_b ul .header1a_bc a img{
   margin-right: 4px;
 }
 .header  .header1a .header1a_b ul .header1a_bc a span{
    font-size: 10px;
    color: #ed4d58;
    
 }
 .header  .header1a .header1a_b ul .header1a_bd{
    float: left;
    margin-left: 43px;
    margin-right: 10px;
 }
 .header .header1a .header1a_b ul .header1a_bd a{
    font-size: 13px;
    color: #535353;
 }

 
.header .header2a{
    width:100%; height:40px;
    background: #333333;

}
.header .header2a .header2a_a{
    width:111px; height:40px;
    margin-left:80px;
    float: left;
}
.header .header2a .header2a_a a{
    line-height: 40px;
    font-size: 14px;
    color: #ffffff;
}
.header .header2a .header2a_b{
    width:454px; height:40px;
    margin-left:340px;
    line-height: 40px;
}
.header .header2a .header2a_b nav a{
    font-size: 14px;
    color: #ffffff;
}
.header  .header2a .header2a_b nav .header2a_bb{
    margin-left: 39px;
    margin-right: 46px;
}
.header .header2a .header2a_b nav .header2a_bd{
    margin-left: 46px;
    margin-right: 46px;
}
/*主要内容*/
.content{
    width:100%; height:723px;
    overflow: hidden;
}
.content .contenta{
    width:1177px; height:519px;
    border: 1px solid #c1c1c1;
    margin-left: 78px;
    margin-top: 68px;
}
.content .contenta .contenta1{
    width:625px; height:244px;
    /* background:red; */
    float: left;
    margin-left:54px;
    margin-top: 66px;
}
.content .contenta .contenta1 .contenta1a{
    width:130px; height:33px;
    border-bottom:2px solid #ef3632;
    position: relative;
    bottom: -2px;
    z-index: 1;
}
.content .contenta .contenta1 .contenta1a h1{
   font-size: 18px;
   color: #ef3632;
   margin-left: 24px;
   line-height: 33px;
}
.content .contenta .contenta1 .contenta1b{
    width:625px; height:355px;
    /* background:orange; */
    border-top:2px solid #e5e5e5;
    position: relative;
}
.content .contenta .contenta1 .contenta1b table{
   margin-left: 37px;
   margin-top: 40px;
}
 .content .contenta .contenta1 .contenta1b table td{
    padding:6px 0;
 }
 .content .contenta .contenta1 .contenta1b table  .yonghu{
    text-indent: 14px;
 }
 .content .contenta .contenta1 .contenta1b table  .mima{
    text-indent:24px;
 }
 .content .contenta .contenta1 .contenta1b table  .email{
    text-indent:17px;
 }
 .content .contenta .contenta1 .contenta1b table td:first-child{
    font-size:12px;
    color: #666666;
 }
 .content .contenta .contenta1 .contenta1b table td:last-child input{
    width: 238px; height: 35px;
	border:1px solid #666;
	
 }
.content .contenta .contenta1 .contenta1b table tr td .box{
    width: 12px; height: 12px;
}
.content .contenta .contenta1 .contenta1b table tr td span{
    font-size: 14px;
    color: #535353;
    margin-left: 4px;
}
.content .contenta .contenta1 .contenta1b table tr td a{
    font-size: 14px;
    color: #3373cc;
}
 .content .contenta .contenta1 .contenta1b table tr td:last-child .anniu{
    width: 190px; height:40px;
	border:none;
    border-radius:3px;
    text-indent:0;
	background:#ef3632;
	color:#fff;
	font-size:19px;
	cursor:pointer;
 }
 .content .contenta .contenta1 .contenta1b  div{
    position: absolute;
    right:-30px;
    top:-38px;
    height:369px;
    border-right: 1px dashed #ccc;
 }

.content .contenta .contenta2{
    width:436px; height:461px;
    /* background: yellow; */
    float: right;
    margin-top: 58px;
}
.content .contenta .contenta2 span{
    font-size: 15px;
    color: #535353;
}
.content .contenta .contenta2 a{
    width: 99px; height: 35px;
    background: #e5e5e5;
    display: block;
    font-size: 12px;
    color: #535353;
    line-height: 35px;
    margin-top: 16px;
    text-align: center;
    border: 1px solid #c1c1c1;
}
.footer{
    width: 100%; height:300px;
    background:#1a1a1a;
}
.footer .footera{
    width:920px; height:118px;
    margin: 0 auto;
    line-height: 118px;
}
.footer .footera .footera1{
   float: left;
   margin-right: 101px;
}
.footer .footera .footera1 img{
   margin-left: 10px;
 }
.footer .footera .footera1 span{
   color: 15px;
   color: #ffffff;
   margin-left: 12px;
 }
.footer .footera .footera2{
    float: left;
    margin-right: 101px;
 }
 .footer .footera .footera2 span{
    color: 15px;
    color: #ffffff;
    margin-left: 12px;
  }
 .footer .footera .footera3{
    float: left;
    margin-right: 102px;
 }
 .footer .footera .footera3 span{
    color: 15px;
    color: #ffffff;
    margin-left: 12px;
  }
 .footer .footera .footera4{
    float: left;
 }
 .footer .footera .footera4 span{
    color: 15px;
    color: #ffffff;
    margin-left: 12px;
  }
.footer .footerb{
    width:920px; height:182px;
    margin: 0 auto;
}
.footer .footerb .footerb1{
    width:517px; height:47px;
    float: left;
    padding-top:60px;
    
}
.footer .footerb1 .footerb2{
    width:517px; height:30px;
    float: left;
    margin-bottom: 5px;
}
.footer .footerb .footerb1 .footerb2 p{
   font-size: 21px;
   color: #525252;
   display: inline-block;
   margin-right: 8px;
}
.footer .footerb .footerb1 .footerb2 span{
    font-size:12px;
    color: #525252;
 }
 .footer .footerb .footerb1 .footerb3 .footerb1b{
    font-size: 9px;
    color: #525252;
    float: left;
    margin-right: 41px;
 }
 .footer .footerb .footerb1 .footerb3{
    clear: both;
 }
 .footer .footerb .footerb1 .footerb3 .footerb1c{
    font-size:12px;
    color: #525252;
    margin-right:9px;
    float: left;
 }
 .footer .footerb .footerb1 .footerb3 .footerb1d{
    font-size:12px;
    color: #525252;
    margin-right: 5px;
    float: left;
 }
 .footer .footerb .footerb1 .footerb3 .footerb1e{
    font-size:12px;
    color: #525252;
    margin-right: 9px;
    float: left;
 }
 .footer .footerb .footerb1 .footerb3 .footerb1f{
    font-size:12px;
    color: #525252;
    margin-right: 9px;
    float: left;
 }
 .footer .footerb .footerb1 .footerb3 .footerb1g{
    font-size:12px;
    color: #525252;
    float: left;
 }
 .footer .footerb .footer_i{
    width: 1px; height:107px;
    background: #262626;
    float: left;
    margin-top: 37px;
 }
 .footer .footerb .footerb1 .footerb1c .footerb1c_a{
   margin-right: 5px;
 }
 .footer .footerb .footerb1 .footerb1c .footerb1c_b{
    margin-right: 5px;
  }
  .footer .footerb .footerb1 .footerb1c .footerb1c_c{
    margin-right: 5px;
  }
  .footer .footerb .footerb1 .footerb1c .footerb1c_d{
    margin-right: 5px;
  }
  .footer .footerb .footerb4{
   width:97px; height:90px;
   float: left;
   margin-top: 38px;
   margin-left: 55px;
}
.footer .footerb .footerb4 span{
    font-size: 14px;
    color: #525252;
}
.footer .footerb .footerb4 .footerb2_a{
    margin-right: 12px;
    float: left;
}
.footer .footerb .footerb4 img{
    margin-top: 29px;
}
.footer .footerb5{
   margin-left: 116px;
   margin-top: 33px;
}
